.filter-list {
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
}

.list-btn {
  display: flex;
  gap: 10px;
}

.light-list button {
  color: var(--very-dark-grayish-blue);
}

.dark-list button {
  color: var(--light-grayish-blue);
}

.list-btn button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

.dark-list .active-filter,
.light-list .active-filter {
  color: var(--bright-blue);
}
