.checkbox-text {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  min-height: 50px;
}

.checkbox-text span {
  display: flex;
}

.list-item {
  padding: 0 10px;
  border-bottom: 1px solid var(--dark-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.active-btn {
  fill: hsl(192, 100%, 67%);
}

.inative-btn {
  fill: transparent;
  border: 1px solid var(--dark-grayish-blue);
  border-radius: 50%; /* Substitua pela cor inativa desejada */
}

.active-text {
  text-decoration: line-through;
}
